{% extends "_base.html" %}
{% block content %}

    <h1>Welcome to My Company Bookstore</h1>
    <p>We offer a wide variety of books in all genres, from bestsellers to rare finds. Come visit us and find your next great read!</p>
    <ul>
        <li><a href="#fiction">Fiction</a></li>
        <li><a href="#non-fiction">Non-Fiction</a></li>
        <li><a href="#children">Children's Books</a></li>
    </ul>

    <h2 id="fiction">Fiction</h2>
        <p>Our fiction section includes all the latest bestsellers as well as classic novels. Browse our selection and find your next favorite book!</p>

    <h2 id="non-fiction">Non-Fiction</h2>
        <p>From memoirs to self-help books, our non-fiction section has something for everyone. Find inspiration and new ideas in our collection.</p>

    <h2 id="children">Children's Books</h2>
        <p>Introduce your child to the joy of reading with our selection of children's books. From picture books to chapter books, we have books for all ages.</p>

{% endblock content %}